.page-fabrication main {
    width: 100%;
}

.page-fabrication h1 {

    text-align: center;

}

.fabrication-gallery {
    width: 100%;
}

/* ======================================== */
/* SCENES */
/* ======================================== */

.fabrication-gallery .blog-post {

    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    padding:
        0rem
        7rem;

    opacity: 0.25;

    transform: scale(0.94);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease,
        filter 0.8s ease;

    will-change:
        opacity,
        transform,
        filter;
}

.fabrication-gallery .blog-post:first-child {

    min-height: auto;

    padding-top: 0;
}

.fabrication-gallery .blog-post.active {

    opacity: 1;

    transform: scale(1);


}

/* ======================================== */
/* IMAGES */
/* ======================================== */

.fabrication-gallery img {

    width: 100%;

    max-width: 100vw;

    align-self: center;

    border-radius: 5px;

    box-shadow:
        0 0 30px rgba(0,0,0,0.45),
        0 0 90px rgba(0,0,0,0.25);
}

/* ======================================== */
/* TEXTE */
/* ======================================== */

.fabrication-gallery figcaption {

    margin-top: -2rem;

    font-size: 1.05rem;

    line-height: 1.7;

    max-width: 65ch;

    align-self: center;

    z-index: 10;
}

/* ======================================== */
/* MOBILE */
/* ======================================== */

@media (max-width: 800px) {

    .fabrication-gallery .blog-post {

        max-width: 100vw ;

        padding:
            0rem
            0rem;
    }

}

.page-fabrication section {
    border: none;
}

.page-fabrication hr {
    display: none;
}